/* Put your css in here */
.dc-legend
{
    font-size: 1em;
}

.dc-chart g.row text {
    fill: #333;

}

.dc-chart .pie-slice {
    fill: #333;
}

.h5 h5 {
    font-size: 15px;
    font-family: Times New Roman;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}